@font-face {
    font-family: "Mori Regular";
    src: url('./fonts/MoriGothic-Regular.ttf')  format('truetype');
    font-weight: 400;
}
@font-face {
  font-family: "Mori Light";
  src: url('./fonts/MoriGothic-Light.ttf')  format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: "Mori Bold";
  src: url('./fonts/MoriGothic-Bold.ttf')  format('truetype');
  font-weight: 800;
}

$light-theme: (
  background: #EDECE8,
  text: #232323
);

$dark-theme: (
  background: #232323,
  text: #EDECE8
);

@function get-color($theme, $color-name) {
  @return map-get($theme, $color-name);
}

[data-theme="light"] {
  --background-color: #{get-color($light-theme, background)};
  --text-color: #{get-color($light-theme, text)};
}

[data-theme="dark"] {
  --background-color: #{get-color($dark-theme, background)};
  --text-color: #{get-color($dark-theme, text)};
}
*::selection{
  background-color: var(--text-color);
  color: var(--background-color);
}
*::-moz-selection{
  background-color: var(--text-color);
  color: var(--background-color);
}
*::-o-selection{
  background-color: var(--text-color);
  color: var(--background-color);
}
*::-ms-selection{
  background-color: var(--text-color);
  color: var(--background-color);
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
*{
    box-sizing: border-box;
    cursor: none;
    scroll-behavior: auto;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Mori Regular', sans-serif;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: var(--text-color);
}
.circle{
  width: 1em;
  height: 1em;
  background-color: var(--text-color);
  display: inline-block;
  border-radius: 50%;
  margin-right: 5%;
}
@media (max-width: 599px) {
  .responsive{
    display: inline-block;
  }
  .desktop{
    display: none;
  }
  body{
    padding: 20vh 10vw 5vh 10vw;
  }
  h1{
    font-weight: 100;
  }
  h2{
    font-family: 'Mori Bold', sans-serif;
    font-size: 1em;
  }
  h3{
    font-family: 'Mori Bold', sans-serif;
    text-transform: uppercase;
  }
  img, video{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 5% 0;
  }
  p,a{
    font-size: 1em;
  }
  
}
@media (min-width: 600px){
  .responsive{
    display: inline-block;
  }
  .desktop{
    display: none;
  }
  .tablet{
    display: inline-block;
  }
  body{
    padding: 20vh 10vw 5vh 10vw;
  }
  img, video{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 5% 0;
  }
  h1{
    font-size: 1rem;
  }
  h2{
    font-size: 1.5rem;
  }
  p, a{
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .responsive{
    display: none !important;
  }
  .desktop{
    display: inline-block;
  }
  body{
    padding: 0;
  }
  main{
      height: 100vh;
      display: flex;
      align-items: center;
      padding: 15vh 5vw;
  }
  h1{
    font-size: 5rem;
    font-weight: 100;
  }
  h2{
    text-transform: uppercase;
    font-weight: bold;

  }
  p, a{
    font-size: 1rem;
  }
  a:hover{
    font-style: italic;
  }
  #transitionScreen{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    z-index: 5000;
    pointer-events: none;
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}