@font-face {
    font-family: "Mori Regular";
    src: url('./fonts/MoriGothic-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: "Mori Light";
  src: url('./fonts/MoriGothic-Light.ttf')  format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: "Mori Bold";
  src: url('./fonts/MoriGothic-Bold.ttf')  format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: "Ade";
  src: url('./fonts/Ade-Display.otf')  format('opentype');
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
$light-theme: (
  background: #fafafa,
  text: #232323
);

$dark-theme: (
  background: #232323,
  text: #fafafa
);

@function get-color($theme, $color-name) {
  @return map-get($theme, $color-name);
}

[data-theme="light"] {
  --background-color: #{get-color($light-theme, background)};
  --text-color: #{get-color($light-theme, text)};
}

[data-theme="dark"] {
  --background-color: #{get-color($dark-theme, background)};
  --text-color: #{get-color($dark-theme, text)};
}
@media (min-width: 200px) {
  .responsive{
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .responsive{
    display: none;
  }
  *::selection{
    background-color: var(--text-color);
    color: var(--background-color);
  }
  *::-moz-selection{
    background-color: var(--text-color);
    color: var(--background-color);
  }
  *::-o-selection{
    background-color: var(--text-color);
    color: var(--background-color);
  }
  *::-ms-selection{
    background-color: var(--text-color);
    color: var(--background-color);
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
*{
    box-sizing: border-box;
    // scroll-behavior: auto;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Mori Light', sans-serif;
  padding: 0;
  margin: 0;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 15vh 5vw;
}
h1{
    font-weight: 100;
}
h2{
  font-family: 'Mori Bold', sans-serif;

}
a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
  font-style: italic;
}
p{
  font-weight: 100;
}